<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
     integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" 
     crossorigin="anonymous">
     <link rel="stylesheet" href="Style.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <link rel="icon" href="http://sendpictures.free.fr/up/1608041829.ico" />
     <style> .bg {
 /* The image used */
  background-color: #DDECF4; 

 /* Full height */
 height: 100%;

 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}  
.bouton16 {
	border:none;
	padding:6px 0 6px 0;
	border-radius:75%;
	border-bottom:7px solid #4753f3;
	font:bold 13px Arial;
	color:#555;
	background:#fff;
	box-shadow:2px 2px 3px #999;
	border-top:2px solid #59cd27;
}
</style>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
     <title>DAWA - Pharmacie Hospitalière</title>
</head>
<body style="background-color: #EBF2F8; padding-top: 130px; ">
 
    <div class="container">
      
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 fixed-top">
        <img width="95px" height="80px" src="https://i.ibb.co/yhkC6rD/logo.png" alt="logo" border="0" style="position:relative;">
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse ml-4" style="float: right" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/Page2">Page d'accueil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">A propos de l'application Web</a>
            </li>
          </ul>
          
        </div>
      </nav>   
      <!-- The Modal -->
 <!--<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
  <!--      <div class="modal-header">
          <h4 class="modal-title">Confirmation de déconnexion</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
     <!--   <div class="modal-body text-dark">
         Etes vous sur de vouloir vous déconnecter de votre session ?
        </div>
        <!-- Modal footer -->
     <!--   <div class="modal-footer">
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-info navbar-btn ">Oui</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
          </form>
          
        </div>
      </div>
    </div>
    </div> -->
          <div class="card-deck mb-4">
           <div class="card shadow text-center" style="width: 18rem;">
            <img class="card-img-top" src="https://i.ibb.co/hmQ5RxD/cold.jpg" alt="cold" border="0" height="250">
              <h5 class="card-title">La chaîne du froid entre 0 et 3°Celsius</h5>
              <p class="card-text">doit être contrôlée en permanence et étalonnée à fréquence régulière.</p>
              <br>
           </div>

           <div class="card shadow text-center" style="width: 18rem;">
            <img class="card-img-top" src="https://i.ibb.co/3cGrShj/hot.jpg" alt="hot" border="0" height="250"> 
              <h5 class="card-title">La chaîne du chaud</h5>
              <p class="card-text">un aliment doit être rapidement monté en température supérieure à 63°Celsius et y être maintenu.</p>
              <br>
          </div>

        
          <div class="card shadow text-center" style="width: 18rem;">
            <img class="card-img-top" src="https://i.ibb.co/C1RmmT3/foodpack.jpg" alt="foodpack" border="0" height="250">
              <h5 class="card-title">Emballage adaptés aux denrées alimentaires</h5>
              <p class="card-text">Ils doivent être faciles à nettoyer et à désinfecter en répondant aux exigences réglementaires.</p>
          <br>
          </div>
          </div>

          <div class="card-deck mb-4">
            <div class="card shadow text-center" style="width: 18rem;">
                <div class="inner">
                  <img class="card-img-top" src="https://i.ibb.co/gjtwT2c/Pure-fresh-water-concept-Tiny-woman-pouring-clean-water-from-faucet-with-mountain-landscape-in-backg.jpg" alt="Pure-fresh-water-concept-Tiny-woman-pouring-clean-water-from-faucet-with-mountain-landscape-in-backg" border="0" height="250">
                   </div>
                  <h5 class="card-title">Alimentation en eau</h5>
                  <p class="card-text">L'alimentation en eau potable doit être disponible, pour éviter la contamination des denrées alimentaires et un examen bactériologique doit être effectuée avec une fréquence trimestrielle.</p>
                  <br>
           </div>

           <div class="card shadow text-center" style="width: 18rem;">
            <img class="card-img-top" src="https://i.ibb.co/pJrvQp7/staff.jpg" alt="staff" border="0" height="250">
              <h5 class="card-title">Hygiène personnelle</h5>
              <p class="card-text">Il est exigé que toute personne travaillant dans une zone de manutention de denrées alimentaires respecte un niveau élevé de propreté personnelle et porte des tenues adaptées (gants, masques, coiffes, tabliers).</p>
          <br>
            </div>

        

          <div class="card shadow text-center" style="width: 18rem;">
            <img class="card-img-top" src="https://i.ibb.co/31j7dM6/City-buildings-set-Apartment-house-store-shopping-mall-office-building-block-of-flats-school-Vector.jpg" alt="City-buildings-set-Apartment-house-store-shopping-mall-office-building-block-of-flats-school-Vector-" border="0" height="250"> 
              <h5 class="card-title">Les locaux</h5>
              <p class="card-text">Répondent au principe de la marche en avant, les revêtements de sol, surfaces de manipulation, les murs et les portes doivent être bien entretenus, faciles à nettoyer et, au besoin désinfectés. L'utilisation de matériaux étanches, lisses, non absorbants, lavables et non toxiques est nécessaire.</p>
              <br>
          </div>

          
       
          </div>

          </div>
    </div>
     <script>
        $(document).ready(function(){
          $("#myBtn").click(function(){
            $("#myModal").modal();
          });
        });
        </script>
</body>
</html>
          
       